In [2]:
%matplotlib inline
import pandas as pd
import collections
import itertools
import math
import random
import warnings
import time
warnings.filterwarnings('ignore')

In [3]:
data = [
    ["La Liga", "Madrid", "Real Madrid", "Espana"],
    ["La Liga", "Madrid", "Real Madrid", "Spain"],
    ["La Liga", "Barcelona", "Barcelona F.C.", "Spain"],
    ["La Liga", "Madrid", "Real Madrid", "Spain"],
    ["La Liga", "Madrid", "Athletico Madrid", "Spain"],
    ["Spanish_League", "Madrid", "Real Madrid", "Spain"],
    ["La Liga", "Barcelona", "Barcelona F.C.", "Catalunia"]
]

df = pd.DataFrame(data, columns=["League", "City", "Team", "Country"])

In [4]:
df

            League       City              Team    Country
0          La Liga     Madrid       Real Madrid     Espana
1          La Liga     Madrid       Real Madrid      Spain
2          La Liga  Barcelona    Barcelona F.C.      Spain
3          La Liga     Madrid       Real Madrid      Spain
4          La Liga     Madrid  Athletico Madrid      Spain
5   Spanish_League     Madrid       Real Madrid      Spain
6          La Liga  Barcelona    Barcelona F.C.  Catalunia
7          La Liga     Madrid       Real Madrid      Spain
8          La Liga  Barcelona    Barcelona F.C.      Spain
9          La Liga     Madrid       Real Madrid      Spain
10         La Liga     Madrid  Athletico Madrid      Spain
11  Spanish_League     Madrid       Real Madrid      Spain
12         La Liga  Barcelona    Barcelona F.C.  Catalunia
13         La Liga     Madrid       Real Madrid      Spain
14         La Liga  Barcelona    Barcelona F.C.      Spain
15         La Liga     Madrid       Real Madrid      Spain
16         La Liga     Madrid  Athletico Madrid      Spain
17  Spanish_League     Madrid       Real Madrid      Spain
18         La Liga  Barcelona    Barcelona F.C.  Catalunia

In [5]:
constraints = [2, 3]

In [38]:
def algo(df, constraints):
    df_c = df.copy()
    if 1 in constraints:
        for i, r in df_c.iterrows():
            if r.Team != "NULL" and r.City != "NULL":
                errors = df_c[(df_c.Team == r.Team) & (df_c.City != r.City) & (df_c.City != "NULL")]
                if errors.shape[0] > 0:
                    c = collections.Counter(df_c[df_c.Team == r.Team].City)
                    if "NULL" in c:
                        c.pop("NULL")
                    if len(c) > 0:
                        df_c["City"][i] = c.most_common(1)[0][0] 

    if 2 in constraints:
        for i, r in df_c.iterrows():
            if r.League != "NULL" and r.Country != "NULL":
                errors = df_c[(df_c.League == r.League) & (df_c.Country != r.Country) & (df_c.Country != "NULL")]
                if errors.shape[0] > 0:
                    c = collections.Counter(df_c[df_c.League == r.League].Country)
                    if "NULL" in c:
                        c.pop("NULL")
                    if len(c) > 0:
                        df_c["Country"][i] = c.most_common(1)[0][0]
                                   
                        
    if 3 in constraints:
        for i, r in df_c.iterrows():
            if r.City != "NULL" and r.Country != "NULL":
                errors = df_c[(df_c.City == r.City) & (df_c.Country != r.Country) & (df_c.Country != "NULL")]
                if errors.shape[0] > 0:
                    c = collections.Counter(df_c[df_c.City == r.City].Country)
                    if "NULL" in c:
                        c.pop("NULL")
                    if len(c) > 0:
                        df_c["Country"][i] = c.most_common(1)[0][0]


    
    return df_c

In [39]:
algo(df, [2, 3])

           League       City              Team Country
0         La Liga     Madrid       Real Madrid   Spain
1         La Liga     Madrid       Real Madrid   Spain
2         La Liga  Barcelona    Barcelona F.C.   Spain
3         La Liga     Madrid       Real Madrid   Spain
4         La Liga     Madrid  Athletico Madrid   Spain
5  Spanish_League     Madrid       Real Madrid   Spain
6         La Liga  Barcelona    Barcelona F.C.   Spain

In [40]:
df

           League       City              Team    Country
0         La Liga     Madrid       Real Madrid     Espana
1         La Liga     Madrid       Real Madrid      Spain
2         La Liga  Barcelona    Barcelona F.C.      Spain
3         La Liga     Madrid       Real Madrid      Spain
4         La Liga     Madrid  Athletico Madrid      Spain
5  Spanish_League     Madrid       Real Madrid      Spain
6         La Liga  Barcelona    Barcelona F.C.  Catalunia

In [41]:
def random_combination(iterable, r):
    "Random selection from itertools.combinations(iterable, r)"
    pool = tuple(iterable)
    n = len(pool)
    indices = sorted(random.Random(time.time()).sample(range(n), r))
    return tuple(pool[i] for i in indices)

In [42]:
constraints = [2,3]

# Oren's Additions to naive cleaning algorithm running time optimality

In [48]:
import time
def partition (list_in, n):
    random.Random(time.time()).shuffle(list_in)
    n = int(n)
    return [list_in[i::n] for i in range(n)]

m = 100
r =(1/3)
constraints_for_alg = [2, 3]

# df = pd.read_csv('./testdata/La_liga.csv')
# constraints_path = './testdata/La_liga_constraints.txt'
df_copy = df.copy()

cell_repair = (0, "Country")
row_repair, col_repair = cell_repair[0], cell_repair[1]
column = cell_repair[1]

before_fix = df_copy[column][cell_repair[0]]
df_repair = algo(df_copy, constraints_for_alg)
after_fix = df_repair[column][cell_repair[0]]

print(after_fix)

relevant_rows = df_repair[df_repair[column]==df_repair[column][cell_repair[0]]]
relevant_attributes = list(df.columns)
cells = list(itertools.product(relevant_rows.index, relevant_attributes))

cells.remove(cell_repair)
cells_copy = cells.copy()

memo_dict = {}
for cell in cells:
    memo_dict[str(cell)] = {"is_fix_with_cell" : {}, "is_fix_without_cell" : {"partition1":{}, "partition2": {}, "final": {}}}

    
start = time.time()

for i in range(m):
    part = partition(cells_copy, (1/r))

    for j in range(len(part)):
        
        df_c = df.copy()
        for cell in part[j]:
            df_c[cell[1]][cell[0]] = str(cell)

        df_repair = algo(df_c, constraints_for_alg)

        is_repair_without = (df_repair[col_repair][row_repair] == after_fix)
        for cell in part[j]:
            memo_dict[str(cell)]["is_fix_without_cell"]["partition1"][i] = is_repair_without
            if not memo_dict[str(cell)]["is_fix_without_cell"]["partition1"][i]:
                df_c[cell[1]][cell[0]] = df[cell[1]][cell[0]] 
                df_repair2 = algo(df_c, constraints_for_alg)

                is_repair_with = (df_repair2[col_repair][row_repair] == after_fix)
                memo_dict[str(cell)]["is_fix_with_cell"][i] = is_repair_with
                df_c[cell[1]][cell[0]] = str(cell)
    
    end = time.time()
print("Time took for repeat {} is: ".format(m) + str(end - start))

Spain
Time took for repeat 100 is: 36.18845057487488

In [49]:
results= {}
for cell in cells:
    results[str(cell)] = 0
    for j in range(m):
        if j in memo_dict[str(cell)]["is_fix_with_cell"] and memo_dict[str(cell)]["is_fix_with_cell"][j]:
            results[str(cell)] += 1
        
results

{"(0, 'League')": 38,
 "(0, 'City')": 34,
 "(0, 'Team')": 0,
 "(1, 'League')": 22,
 "(1, 'City')": 9,
 "(1, 'Team')": 0,
 "(1, 'Country')": 31,
 "(2, 'League')": 30,
 "(2, 'City')": 0,
 "(2, 'Team')": 0,
 "(2, 'Country')": 21,
 "(3, 'League')": 22,
 "(3, 'City')": 7,
 "(3, 'Team')": 0,
 "(3, 'Country')": 26,
 "(4, 'League')": 19,
 "(4, 'City')": 10,
 "(4, 'Team')": 0,
 "(4, 'Country')": 34,
 "(5, 'League')": 0,
 "(5, 'City')": 10,
 "(5, 'Team')": 0,
 "(5, 'Country')": 8,
 "(6, 'League')": 0,
 "(6, 'City')": 0,
 "(6, 'Team')": 0,
 "(6, 'Country')": 0}

In [50]:
df

           League       City              Team    Country
0         La Liga     Madrid       Real Madrid     Espana
1         La Liga     Madrid       Real Madrid      Spain
2         La Liga  Barcelona    Barcelona F.C.      Spain
3         La Liga     Madrid       Real Madrid      Spain
4         La Liga     Madrid  Athletico Madrid      Spain
5  Spanish_League     Madrid       Real Madrid      Spain
6         La Liga  Barcelona    Barcelona F.C.  Catalunia